torch>=1.6
numpy
matplotlib
jupyter
notebook
mlagents
unityagents
protobuf==3.20.3
tqdm
pytest
seaborn
pandas
plotly
tensorboard
scipy
scikit-learn

# Documentation
sphinx>=4.0.0
sphinx-rtd-theme
sphinx-autodoc-typehints
myst-parser
nbsphinx

# Web Demo
streamlit>=1.25.0
streamlit-plotly-events
streamlit-option-menu
pillow
opencv-python
